extends layout

block content
  h1= title
  if category
    h6= category.description
    if category.image && category.image.data
      img(style='height: 100px;' src=`data:image/${category.image.contentType};base64, ${category.image.data.toString('base64')}`) 

    table(class="table table-striped")
      caption #{items.length} Items
      thead
        tr
          th(scope="col") Name
          th(scope="col") Quantity
          th(scope="col") SKU
          th(scope="col") Price
      tbody
        if items.length === 0
          tr
            td No items to display
        each item in items
          if item
            tr
              td #[a(href=item.url)= item.name]
              td= item.quantityInStock
              td= item.sku
              td= item.price
    
    a(href=category.url + "/update") Update Category
    a.ml-5(href=category.url + "/remove") Delete Category
  
  if errors
    ul
      for error in errors
        li!= error.msg