extends layout

block content
  main
    .container
      h1#title.mt-3= title
      if category
        h6= category.description
        if category.image && category.image.data
            img(style='height: 100px;' src=`data:image/${category.image.contentType};base64, ${category.image.data.toString('base64')}`) 

      if errors
        .container  
          ul
            for error in errors
              li
                .row.mt-3
                  .col-lg-10.alert.alert-warning.alert-dismissible.fade.show(role="alert")!= error.msg
                    button(type="button" class="close" data-dismiss="alert" aria-label="Close") #[span(aria-hidden="true") &times;]

      if category
        .container#container
          .row.table-responsive.text-nowrap

            table.table.table-hover.datatable(cellspacing="0" width="100%")
              caption #{category.items.length} Items
              thead
                tr
                  th(scope="col") Name
                  th(scope="col") Quantity
                  th(scope="col") SKU
                  th(scope="col") Price
              tbody
                if category.items.length === 0
                  tr
                    td No items to display
                each item in category.items
                  if item
                    tr
                      td #[a(href=item.url)= item.name]
                      td #[a(href=item.url)= item.quantityInStock]
                      td #[a(href=item.url)= item.sku]
                      td #[a(href=item.url)= item.price]
        
      .container
          .row.mb-4
            a.btn.btn-primary.btn-outline-brown.mr-4(href=category.url + "/update") #[i.fas.fa-edit.mr-2] Update Category
            a.btn.btn-primary.btn-outline-brown(href=category.url + "/remove") #[i.fas.fa-trash.mr-2] Delete Category
    
      
      if category.items.length > 9
            div.mb-5
              a(href="#top") Return to Top


  