extends layout

block content
  h1= title

  if !count && !filter
    div.btn-group-vertical#typeSelector(role="group" aria-label="Button group with nested dropdown")
      a#test.btn.btn-outline-secondary(role="button" value="Full" href="/inventory/count/create-new?filter=Full") Full
      div.btn-group.dropright(role="group")
        button.btn.btn-outline-secondary.dropdown-toggle#dropdownMenu2(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") By Category
        div.dropdown-menu(aria-labelledby="dropdownMenu2")
          for category in categories
            a.dropdown-item(role="button" href=`/inventory/count/create-new?filter=${category.name}`) #{category.name}
      a.btn.btn-outline-secondary(role="button" value="Ad Hoc" href="/inventory/count/create-new?filter=AdHoc") Ad Hoc

  //- we need to filter the items according to count type
  //- we need to be able to put together an item with its value in a saved count and change 'value' in form below
  
  if filter !== undefined
    form(method="POST" action="")
      for item in items 
        .form-group.d-flex.align-items-center.justify-content-start
          input.w-25.form-control.mr-3(name=item._id id=item._id, type="number", value=item.quantityInStock)
          label(for=item._id)= item.name
      .d-flex.w-25.justify-content-between
        button.btn.btn-primary(type="submit" method="POST" formaction="create-new/submit") Submit
        button.btn.btn-primary.mr-3(type="submit" formaction="create-new/save") Save
      



  //- if foundItem
  //-   if foundItem.name === item.name
  //-     div Item already exists. Change item name or go to #[a(href=foundItem.url) existing item].
  //-   else
  //-     div Item already exists. Change item sku or go to #[a(href=foundItem.url) existing item].

  //- if errors
  //-   ul
  //-     for error in errors
  //-       li!= error.msg
