extends layout

block content
  main
    .container
      h1#title.mt-3.mb-4= title

      if errors
        .container  
          ul
            for error in errors
              li
                .row.mt-3
                  .col-12.alert.alert-warning.alert-dismissible.fade.show(role="alert")!= error.msg
                    button(type="button" class="close" data-dismiss="alert" aria-label="Close") #[span(aria-hidden="true") &times;]

      if items

        if !filter
          .btn-group(role="group" aria-label="Button group with nested dropdown")
            div
              a.btn.btn-outline-brown(role="button" value="Full" href="/inventory/count/create-new?filter=Full") Full
            div
              .btn-group(role="group")
                button.btn.btn-outline-brown.dropdown-toggle#btnGroupDrop1(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") By Category
                div.dropdown-menu(aria-labelledby="dropdownMenu2")
                  for category in categories
                    a.dropdown-item(role="button" href=`/inventory/count/create-new?filter=${category.name}`) #{category.name}
            div
              a.btn.btn-outline-brown(role="button" value="Ad Hoc" href="/inventory/count/create-new?filter=AdHoc") Ad Hoc
        
        else
          .container#container.mt-4
            .row.table-responsive.text-nowrap
              form.form-top(method="POST" action="")
                table.table.table-hover.datatable(cellspacing="0" width="100%")
                  thead
                    tr
                      th(scope="col") Quantity
                      th(scope="col") Item
                  tbody
                    for item, index in items
                      tr
                        td.form-group
                          input(name=`items[${index}][quantity]` id=`item${index}quantity` type="number" value=item.quantityInStock)
                          input(type="hidden" name=`items[${index}][id]` value=item._id)
                        td #[a(href=item.url)= item.name]
                          
                input(type="hidden" name="filter" id="filter" value=filter)
                
                div#password-group.password-group-top.form-group.form-group-top.hidden
                  label(for="password") Enter Admin Password to Make Change
                  input#password.form-control(type="password" name="password")    
                          
                .container
                  .row.d-flex.justify-content-center.justify-content-sm-start
                      button.btn.btn-primary.btn-outline-brown(type="submit" name="submitButton" value="submit") #[i.fas.fa-check.mr-2] Submit Count
                      button.btn.btn-primary.btn-outline-brown.darken-3(type="submit" name="submitButton" value="save") #[i.fas.fa-save.mr-2] Save

        div.mb-5.mt-4
          a(href="#top") Return to Top

  script(src="/javascripts/form.js")
  
