extends layout

block content
  h1= title
  h2 #[a(href="/inventory/orders") Orders]
  table(class="table table-striped")
    caption Open Orders
    thead
      tr
        th(scope="col") Order Date
        th(scope="col") Status
        th(scope="col") Expected Delivery
        th(scope="col") 
    tbody
      if orders.length === 0
        tr
          td No open orders
      each order in orders.slice(0, 5)
        if order
          tr
            td #[a(href=order.url)= order.orderDateFormatted]
            td= order.status
            if order.status === 'Received'
              td= order.deliveryDateFormatted
              td #[a(href=order.receipt.url) View Receipt]
            else if order.status === 'Ordered'
              td= order.deliveryDateFormatted
              td #[a(href=(order.receipt ? `/inventory/receiving/${order.receipt._id}/update` : `/inventory/receiving/create-new/${order._id}`)) Receive]
            else
              td Order not yet submitted
              td #[a(href=order.url) Place order]
            
  if orders.length > 5
    a(href="/inventory/orders") See More
  h6 #[a(href="/inventory/order/create-new") Start an Order]
  h6 #[a(href="/inventory/receiving/create-new") Receive New Product]

  h2 #[a(href="/inventory/counts") Inventory Counts]
  table(class="table table-striped")
    caption Open Inventory Counts
    thead
      tr
        th(scope="col") Date Initiated
        th(scope="col") Count Type
        th(scope="col") 
    tbody
      if counts.length === 0
        tr
          td No open inventory counts
      each count in counts.slice(0, 5)
        if count
          tr
            td #[a(href=count.url)= count.dateInitiatedFormatted]
            td= count.type
            td #[a(href=count.url) Continue count]
  if counts.length > 5
    a(href="/inventory/counts") See More
  h6 #[a(href="inventory/count/create-new") Start a New Inventory Count]

  h2 #[a(href="/inventory/items") Items]
  table(class="table table-striped")
    caption Recently Updated
    thead
      tr
        th(scope="col") Name
        th(scope="col") Quantity in Stock
        th(scope="col") Category
        th(scope="col") Last Updated
        th(scope="col") 
      tbody
        if items.length === 0
          tr
            td No items to display
        each item in items.slice(0, 5)
          if item
            tr
              td #[a(href=item.url)= item.name]
              td= item.quantityInStock
              if item.category
                td #[a(href=item.category.url)= item.category.name]
              else
                td (None)
              td= item.itemLastUpdatedFormatted
              td #[a(href=item.url + "/update") Update]
  if items.length > 5
    a(href="/inventory/items") See More
  h6 #[a(href="/inventory/item/create-new") Add a New Item]
  h6 #[a(href="/inventory/category/create-new") Add a New Category]
  