extends layout

block content
  h1= title
  h2 #[a(href="/inventory/orders") Orders]
  table(class="table table-striped")
    caption Open Orders
    thead
      tr
        th(scope="col") Order Date
        th(scope="col") Status
        th(scope="col") Expected Delivery
        th(scope="col") 
    tbody
      if orders.length === 0
        tr
          td No open orders
      each order in orders.slice(0, 5)
        if order
          tr
            td #[a(href=order.url)= order.orderDateFormatted]
            td= order.status
            if order.deliveryDate
              td= order.deliveryDateFormatted
              td #[a(href="NEED TO IMPLEMENT WITH POST") Receive]
            else
              td Order not yet submitted
              td #[a(href="order.url") Place order]
            
  if orders.length > 5
    a(href="/inventory/orders") See More

  h2 #[a(href="/inventory/counts") Inventory Counts]
  table(class="table table-striped")
    caption Open Inventory Counts
    thead
      tr
        th(scope="col") Date Initiated
        th(scope="col") Count Type
        th(scope="col") 
    tbody
      if counts.length === 0
        tr
          td No open inventory counts
      each count in counts.slice(0, 5)
        if count
          tr
            td #[a(href=count.url)= count.dateInitiatedFormatted]
            td= count.type
            td #[a(href=count.url) Continue count]
  if counts.length > 5
    a(href="/inventory/counts") See More
