extends layout

block content
  main
    .container
      h1#title.col-md-6.mt-3= title
      a.col-md-6(href="/inventory/item/create-new") Create a New Item

      ul.nav.nav-tabs.mt-4.mb-3
        li.nav-item
          a(class=(filter==='All' || filter===undefined) ? "nav-link active" : "nav-link" href="/inventory/items/?filter=All") All
        each category in categories  
          li.nav-item
            a(class=filter===category.name ? "nav-link active" : "nav-link" href=`/inventory/items/?filter=${category.name}`)= category.name
        li.nav-item
          a(class=(filter==="Archived") ? "nav-link active" : "nav-link" href="/inventory/items/?filter=Archived") Archived
      
      .container#container
        .row.table-responsive.text-nowrap

          table.table.table-hover.datatable(cellspacing="0" width="100%")
            thead
              tr
                th(scope="col") Name
                if (filter === 'All')
                  th(scope="col") Category
                th(scope="col") In Stock
                th(scope="col") Ordered
                th(scope="col") SKU
            tbody
              if items.length === 0
                tr
                  td No orders to display
              each item in items
                if item
                  tr
                    td #[a(href=item.url)= item.name]
                      if !item.active
                        strong(class="ml-3") Inactive
                    if (filter === 'All')
                      td #[a(href=(item.category ? item.category.url : "#"))= `${item.category ? item.category.name : "(None)"}`]
                    td #[a(href=item.url)= item.quantityInStock]
                    td #[a(href=item.url)= orderedQty[item]]
                    td #[a(href=item.url)= item.sku]

      if items.length > 9
        div.mb-5
          a(href="#top") Return to Top
  
  
      