extends layout

block content
  if item
    h1= item.name
    if item.category
      p Category: #[a(href=item.category.url)= item.category.name]
    else
      p Category: (None)
    p Description: #{item.description}
    if !item.active
      p #[strong Archived]
    p Quantity in Stock: #{item.quantityInStock}

    if item.forSale
      p SKU: #{item.sku}
      p Price: #{item.price}
    else
      p [Not marked for sale]
    
    if item.image && item.image.data
      img(style='height: 100px;' src=`data:image/${item.image.contentType};base64, ${item.image.data.toString('base64')}`) 
    div
      a(href=item.url + "/update") Update Item
      a.ml-5(href=item.url + "/archive")= item.active ? "Archive Item" : "Restore Item"
  
  else
    ul
      for error in errors
        li!= error.msg
        