extends layout

block content
  h1= title
  h6= order.status
  ul
    if order.status === 'Saved'
      li Last Updated: #{order.lastUpdatedFormatted}
    if order.status === 'Ordered'
      li Ordered: #{order.orderDateFormatted}
    if order.deliveryDate
      li Delivery Date: #{order.deliveryDateFormatted}
    if order.status === 'Received'
      li Ordered: #{order.orderDateFormatted}
      li Received: #{receipt.dateSubmittedFormatted}
  
  ul
    if order.status === 'Saved'
      // TODO Implement buttons (mirrored below)
      li #[a(href="#") Place Order]
      li #[a(href=`${order.url}/update`) Change Order]
    if order.status === 'Ordered'
      li #[a(href="#") Receive]

  if errors
    ul
      for error in errors
        li #[strong!= error.msg]

  table(class="table table-striped")
    caption Items
    thead
      tr
        th(scope="col") Qty Ordered
        th(scope="col") Name
        th(scope="col") SKU
        th(scope="col") Category
    tbody
      if order.orderedItems.length === 0
        tr
          td No items to display
      each orderedItem in order.orderedItems
        if orderedItem
          tr
            td= orderedItem.quantity
            td #[a(href=orderedItem.item.url)= orderedItem.item.name]
            td= orderedItem.item.sku
            td #[a(href=orderedItem.item.category.url)= orderedItem.item.category.name]

  ul
    if order.status === 'Saved'
      // TODO Implement buttons (mirrored above)
      li #[a(href="#") Place Order]
      li #[a(href=`${order.url}/update`) Change Order]
    if order.status === 'Ordered'
      li #[a(href="#") Receive]

