extends layout

block content
  main
    .container
      h1#title.col-md-6.mt-3= title
      a.col-md-6(href="/inventory/order/create-new") Open a New Order
  
      ul.nav.nav-tabs.mt-4.mb-3
        li.nav-item
          a(class=(filter==='Open' || filter===undefined) ? "nav-link active" : "nav-link" href="/inventory/orders/?filter=open") Open
        li.nav-item
          a(class=filter==='Saved' ? "nav-link active" : "nav-link" href="/inventory/orders/?filter=saved") Saved
        li.nav-item
          a(class=filter==='Ordered' ? "nav-link active" : "nav-link" href="/inventory/orders/?filter=ordered") Ordered
        li.nav-item
          a(class=filter==='Received' ? "nav-link active" : "nav-link" href="/inventory/orders/?filter=received") Received
        li.nav-item
          a(class=filter==='All' ? "nav-link active" : "nav-link" href="/inventory/orders/?filter=all") All
      
      .container#container
        .row.table-responsive.text-nowrap

          table.table.table-hover.datatable(cellspacing="0" width="100%")
            caption #{filter} Orders
            thead
              tr
                th(scope="col") Order Date
                th(scope="col") Status
                th(scope="col") Last Updated
                th(scope="col") Expected Delivery
                th(scope="col") Action
            tbody
              if orders.length === 0
                tr
                  td No orders to display
              each order in orders
                if order
                  tr
                    td #[a(href=order.url)= order.orderDateFormatted]
                    td= order.status
                    td= order.lastUpdatedBrief
                    if order.status === 'Received'
                      td= order.deliveryDateBrief
                      td #[a(href=order.receipt.url) View Receipt]
                    else if order.status === 'Ordered'
                      td= order.deliveryDateBrief
                      td #[a(href=(order.receipt ? `/inventory/receiving/${order.receipt._id}/update` : `/inventory/receiving/create-new/${order._id}`)) Receive]
                    else
                      td Order not yet submitted
                      td #[a(href=order.url) Place order]

      if orders.length > 9
        div.mb-5
          a(href="#top") Return to Top