extends layout

block content
  main
    .container
      h1#title.mt-3.mb-4= title

      if errors
        .container  
          ul
            for error in errors
              li
                .row.mt-3
                  .col-lg-10.alert.alert-warning.alert-dismissible.fade.show(role="alert")!= error.msg
                    button(type="button" class="close" data-dismiss="alert" aria-label="Close") #[span(aria-hidden="true") &times;]
      
      .container#container.mt-4
        .row.table-responsive.text-nowrap
          form.form-top(method="POST" action="")
            table.table.table-hover.datatable(cellspacing="0" width="100%")
              thead
                tr
                  th(scope="col") Order
                  th(scope="col") Item
                  th(scope="col") In Stock
                  th(scope="col") On Order
                  th(scope="col") SKU
              tbody
                for item, index in items
                  tr
                    td.form-group
                      input(type="number" name=`orderedItems[${index}][quantity]` value=`${thisOrderItems ? thisOrderItems[item._id.toString()] || '' : ''}`)
                    td #[a(href=item.url)= item.name]
                    td= item.quantityInStock
                    td #{ onOrder[item._id.toString()] || "0" }
                    td= item.sku
                    td.hidden
                      input(type="hidden" name=`orderedItems[${index}][id]` value=item._id)

            div#password-group.password-group-top.form-group.form-group-top.hidden
              label(for="password") Enter Admin Password to Make Change
              input#password.form-control(type="password" name="password")
            .container
              .row.d-flex.justify-content-center.justify-content-sm-start
                  button.btn.btn-primary.btn-outline-brown(type="submit" name="submitType" value="placeOrder") #[i.fas.fa-check.mr-2] Place Order
                  button.btn.btn-primary.btn-outline-brown.darken-3(type="submit" name="submitType" value="save") #[i.fas.fa-save.mr-2] Save

      div.mb-5.mt-4
        a(href="#top") Return to Top

  script(src="/javascripts/form.js")