extends layout

block content
  h1= title

  if items
    form(method="POST" action="")
      table.form-group.table.table-striped
        thead
          tr
            th(scope="col") Quantity to Receive
            th(scope="col") Item
            th(scope="col") In Stock
            th(scope="col") Category
            th(scope="col") SKU
        tbody
          for item, index in items
            tr
              td
                input(type="number" name=`receivedItems[${index}][quantity]` value=`${thisReceiptItems ? thisReceiptItems[item._id.toString()] || '' : ''}`)
              td #[a(href=item.url)= item.name]
              td= item.quantityInStock
              td= item.category ? item.category.name : "(None)"
              td= item.sku
              td.hidden
                input(type="hidden" name=`receivedItems[${index}][id]` value=item._id)
      
      div#password-group.form-group.hidden
        label(for="password") Enter Admin Password to Make Change
        input#password.form-control(type="password" name="password")

      .d-flex.w-25.justify-content-between
        button.btn.btn-primary.submit-button(type="submit" name="submitType" value="submit") Submit Receipt
        button.btn.btn-primary.mr-3.save-button(type="submit" name="submitType" value="save") Save

  if errors
    ul
      for error in errors
        li!= error.msg

  script(src="/javascripts/form.js")